* {
    margin: 0;
    padding: 0;
    color: white;
    font-family: "Orbitron", sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.1rem;
}

.main-container {
    animation: fadeIn 0.5s ease forwards;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
}

#btns {
    
    position: absolute;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 5rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.fa-solid {
    font-size: 2rem;
    position: absolute;
    top: 30%;
    left: 5.4%;
    cursor: pointer;
}

.back {
    position: absolute;
    top: 5.5%;
    left: 1.5%;
    z-index: 99;
}

#open-menu,
#close-menu {
    position: absolute;
    top: 12%;
    left: 1.5%;
    z-index: 1;
}

#close-menu {
    left: 1.63%;
    visibility: hidden;
}

#menu-list {
    z-index: 2;
    position: absolute;
    border: 0.2rem ridge white;
    top: 16%;
    width: 14%;
    height: max-content;
    background-color: black;
    display: grid;
    grid-template-columns: repeat(1, fr);
    align-items: center;
    justify-content: center;
    padding: 2rem 0;
    gap: 2rem;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(1rem);
    border-radius: 0.5rem;
}

.hide {
    position: absolute;
    left: -16%;
    transition: 0.1s ease-in-out;
}

.show {
    position: absolute;
    left: 0%;
}

button {
    font-size: 1rem;
    padding: 1rem 2rem;
    letter-spacing: 0.2rem;
}

#table {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0%, -50%);
    text-align: center;
    margin-right: 2rem;
}

th, td {
    border: 0.2rem ridge white;
    text-shadow: 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black;
    padding: 0.8rem;
    font-size: 0.8rem;
}

.rotate {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0%, -400%);
    rotate: 270deg;
}